/* styles.css */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#webcam, #canvas {
    height: 80vh;
    max-width: 80vw;
}

#canvas {
    position: absolute;
}


#controls {
    min-height: 100px;
    display: flex;
    gap: 10px;
}

#capture, #play {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
}