/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#webcam {
    height: 80vh;
    max-width: 80vw;
}

#capture {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
}